<tr class="striped--light-gray">
  <td class="ph3 pv2"><%= currency.name %></td>
  <td class="ph3 pv2"><%= currency.single_transaction_cost %></td>
  <td class="ph3 pv2" style="word-break: break-all;"><%= currency.multisig_transaction_cost %></td>
</tr>
